.TabsComponent {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-wrap: wrap;
	flex-direction: column;
	background: linear-gradient(45deg, #4aa3ad, #fff);
}

.tabs-labels {
	display: flex;
	list-style: none;
	box-shadow: 0 0 0px 5px #ffffff50, 0 0 20px 10px #00000020;
	border-radius: 5px;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	font: 600 1em Tahoma;
	color: #4aa3ad;
	background: #eee;
}


.tab-label {
	padding: 20px 20px 20px 20px;
	cursor: pointer;
	box-sizing: content-box !important;
	
}

.tab-label.-isActive {
	background: #e0e0e0;
	color: #333;
	border-top: solid 4px #333;
	padding-top: 16px;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	margin-left: -1px;
	margin-right: -1px;
}

.tab-label:first-child {
	border-radius: 5px 0 0 5px;	

	&.-isActive {
		border-left: 0;
		border-right: 1px solid #333;
		margin-right: -1px;
		margin-left: 0;
	}
}

.tab-label:last-child {
	border-radius: 0 5px 5px 0;	
	&.-isActive {
		border-right: 0;
		border-left: 1px solid #333;
		margin-left: -1px;
		margin-right: 0;
	}	
}


.tab-content {
	display: flex;
	font: 2rem Tahoma;
}